/*********************************/
/************* RESET *************/
/*********************************/

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
} */

/*********************************/
/************ COMMON ************/
/*******************************/

body {
  background-color: #f5f5dc;
}

p {
  font-size: 1.6rem;
}

small {
  font-size: 1.4rem;
}

ul {
  font-size: 1.6rem;
}

button {
  display: flex;
  border-radius: 4rem;
  padding: 1rem 4rem;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

@media screen and (min-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(8, 1fr);
  }
}

/*********************************/
/************ HEADER ************/
/*******************************/

.header {
  height: 9.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
}

.header__logo-link {
  text-decoration: none;
}

.header__logo-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 1rem;
}

.header__logo-image {
  width: 8rem;
}

.header__title {
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
  color: #ffd69e;
}

.header__subtitle {
  padding-left: 2rem;
}

.header__nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 3.5rem;
  font-size: 1.6rem;
}

@media screen and (max-width: 767px) {
  .header__nav-list {
    gap: 4rem;
    background-color: #9cd0af;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.35s ease-out;
    transform: translateX(100%);
  }
}

@media screen and (min-width: 768px) {
  .header__nav-list {
    gap: 4rem;
  }
}

.header__nav-link {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.header__nav-link:hover {
  text-decoration: underline;
}

/*********************************/
/************ FOOTER ************/
/*******************************/

.footer {
  background-color: #435524;
  padding-block: 4.5rem;
  color: #ffffff;
}

.footer__title {
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
  color: #ffffff;
}

.footer__subtitle {
  margin-right: -3.5rem;
}

.footer__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

@media screen and (min-width: 481px) {
  .footer__grid {
    grid-template-columns: repeat(8, 1fr);
    justify-content: center;
  }
}

.footer__logo {
  grid-column: 1/3;
  text-align: center;
}

.footer__logo img {
  max-width: 9rem;
  width: 100%;
  height: auto;
}

@media screen and (min-width: 481px) {
  .footer__logo {
    grid-column: 2/4;
  }
}

@media screen and (min-width: 768px) {
  .footer__logo {
    grid-row: 1/3;
  }
}

.footer__button {
  grid-column: 3/5;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 2.4rem 1.6rem;
  justify-content: center;
}

@media screen and (min-width: 481px) {
  .footer__button {
    grid-column: 4/9;
    justify-self: flex-start;
  }
}

@media screen and (min-width: 768px) {
  .footer__button {
    grid-row: 1/2;
  }
}

.footer__cta {
  color: white;
  border-color: #ffffff;
  background-color: transparent;
  min-width: 18rem;
  box-sizing: border-box;
}

.footer__social-media {
  grid-column: 1/5;
  justify-self: center;
  margin-top: 4rem;
  gap: 1rem;
  display: flex;
  align-items: center;
}

.footer__social-media h3 {
  font-size: 1.6rem;
}

@media screen and (min-width: 481px) {
  .footer__social-media {
    grid-column: 1/9;
    display: flex;
    align-items: center;
    justify-self: center;
    gap: 2.5rem;
    margin-top: 4rem;
  }
}

@media screen and (min-width: 768px) {
  .footer__social-media {
    grid-row: 2/3;
    grid-column: 4/9;
    justify-self: flex-start;
  }
}

/*********************************/
/************* INDEX *************/
/*********************************/

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

.front-img-section {
  background-color: #000;
  max-height: 50rem;
  overflow: hidden;
  filter: brightness(65%);
}

.front-text-container__text {
  color: #f5f5dc;
  font-weight: 600;
  font-size: 6rem;
}

.front-button-container__cta {
  background-color: #f5f5dc;
  box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}

.who-are-we {
  background-color: #f5f5dc;
  padding-block: 7.5rem;
}

@media screen and (min-width: 768px) {
  .who-are-we .grid-container {
    grid-template-columns: repeat(8, 1fr);
  }
}

.who-are-we section {
  align-items: center;
}

.who-are-we .block--left {
  grid-column: 1/-1;
}

@media screen and (min-width: 768px) {
  .who-are-we .block--left {
    padding-right: 5rem;
    grid-column: 1/5;
  }
}

.who-are-we .block--left .block__title {
  font-size: 6rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  line-height: 1;
}

.who-are-we .block--left .block__subtitle {
  display: block;
  font-size: 3rem;
  font-weight: 400;
  padding-left: 4.5rem;
}

.who-are-we .block--right {
  grid-column: 1/-1;
}

.who-are-we .block--right img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .who-are-we .block--right {
    padding-left: 5rem;
    grid-column: 5/9;
  }
}

/***** WHY VOLUNTEER *****/

.why-volunteer {
  background-color: #ffd69e;
  padding-block: 7.5rem;
}

@media screen and (min-width: 768px) {
  .why-volunteer .grid-container {
    grid-template-columns: repeat(8, 1fr);
  }
}

.why-volunteer section {
  align-items: center;
}

.why-volunteer .block--left {
  grid-column: 1/-1;
}

.why-volunteer .block--left .block__title {
  font-size: 6rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  line-height: 1;
}

.why-volunteer .block--left .block__subtitle {
  display: block;
  font-size: 3rem;
  font-weight: 400;
  padding-left: 4.5rem;
}

.why-volunteer .block--right {
  grid-column: 1/-1;
}

.why-volunteer .block--right img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .why-volunteer .block--left {
    padding-left: 5rem;
    order: 2;
    grid-column: 5/9;
  }

  .why-volunteer .block--right {
    padding-right: 5rem;
    grid-column: 1/5;
  }
}

/*********************************/
/*********** ARTICLES ***********/
/*******************************/

.article__photo {
  width: 100%;
  max-height: 51rem;
  overflow: hidden;
  filter: brightness(65%);
}

.article__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  padding-bottom: 9.5rem;
}

@media screen and (min-width: 768px) {
  .article__grid {
    grid-template-columns: repeat(8, 1fr);
  }
}

.article__title {
  grid-column: 1/-1;
  font-weight: 600;
  font-size: 4rem;
  justify-self: center;
  margin: 4rem;
  text-transform: uppercase;
}

.article__left {
  grid-column: 1/-1;
}

@media screen and (min-width: 768px) {
  .article__left {
    grid-column: 1/5;
  }
}

.article__left .article__text {
  margin-bottom: 2rem;
}

.article__left .article__text:first-child {
  margin-top: 1rem;
}

.article__left .article__text:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .article__left .article__text:first-child {
    margin-top: 0;
  }

  .article__left .article__text:last-child {
    margin-bottom: 0;
  }
}

.article__right {
  grid-column: 1/-1;
}

@media screen and (min-width: 768px) {
  .article__right {
    grid-column: 5/9;
  }
}

.article__right .article__list,
.article__left .article__list {
  list-style: disc;
  padding-left: 2rem;
}

.article__right .article__list .article__item::marker,
.article__left .article__list .article__item::marker {
  font-size: 1.8rem;
}

.article__right .article__text {
  margin-bottom: 2rem;
}

.article__right .article__text:first-child {
  margin-top: 1rem;
}

.article__right .article__text:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .article__right .article__text:first-child {
    margin-top: 0;
  }

  .article__right .article__text:last-child {
    margin-bottom: 0;
  }
}

.article__right .article__list {
  margin-bottom: 2rem;
}

.article__donate-buttons {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 2.4rem;
}

@media screen and (min-width: 768px) {
  .article__donate-buttons {
    grid-column: 6/9;
    align-items: flex-start;
    justify-content: space-evenly;
  }
}

.article__donate-buttons button {
  color: black;
  border-color: black;
  background-color: transparent;
}

/*********************************/
/*********** CONTACT ************/
/*******************************/

.contact__form {
  grid-column: 1/-1;
}

.form-control {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 4rem;
  padding: 1.8rem 2rem;
}

.contact__form-button {
  color: black;
  border-color: black;
  background-color: transparent;
  border-radius: 4rem;
  padding: 1rem 3.7rem;
}
