/*********************************/
/************* RESET *************/
/*********************************/

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  font-weight: normal;
  font-size: 16px;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

/*********************************/
/************ COMMON ************/
/*******************************/

body {
  background-color: #f5f5dc;
}

h1 {
  font-size: 6rem;
}

p {
  font-size: 1.6rem;
}

small {
  font-size: 1.4rem;
}

ul {
  font-size: 1.6rem;
}

button {
  border-radius: 4rem;
  padding: 1rem 4rem;
  color: white;
  border-color: #ffffff;
  background-color: transparent;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.375rem;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

@media screen and (min-width: 769px) {
  .grid-container {
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 0.625rem;
    max-width: 1200px;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }
}

.articlePhoto {
  width: 100%;
  height: 51.5rem;
  overflow: hidden;
}

.articleContainer {
  padding: 4rem 14.5rem;
}

.articleContainer ul {
  list-style-type: disc;
  margin-top: 2rem;
}

.articleTitle {
  font-weight: 600;
  font-size: 4rem;
}

/*********************************/
/************ HEADER ************/
/*******************************/

header {
  height: 9.5rem;
  background-color: #000000; /*color temporal para poder visualizar los items*/
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logoContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 1rem;
}

.logoContainer img {
  width: 8rem;
}

.logoContainer h1 {
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
  color: #ffd69e;
}

.logoContainer h1 span {
  padding-left: 2rem;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
}

.titleInWhite {
  color: #ffffff;
}

.titleInFardos {
  color: #ffd69e;
}

/**** Nav *****/

.navContainer ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 3.5rem;
}

@media screen and (max-width: 767px) {
  .navContainer ul {
    gap: 4rem;
    background-color: #9cd0af;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.35s ease-out;
    transform: translateX(100%);
  }
}

@media screen and (min-width: 768px) {
  .navContainer ul {
    gap: 4rem;
  }
}

.navContainer a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.navContainer a:hover {
  text-decoration: underline;
}

/*********************************/
/************ FOOTER ************/
/*******************************/

footer {
  background-color: #435524;
  padding-block: 4.5rem;
  color: #ffffff;
  height: 25rem;
}

footer h3 {
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
  color: #ffffff;
}

footer h3 span {
  padding-left: 4.5rem;
}

footer .footer-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 1.375rem;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 1.375rem;
  padding-right: 1.375rem;
}

@media screen and (min-width: 768px) {
  .footer .footer-grid {
    grid-template-columns: repeat(16, 1fr);
    grid-gap: 0.625rem;
    max-width: 1440px;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }
}

footer .footer-logo {
  grid-column: span 2;
  text-align: center;
}

footer .footer-logo img {
  max-width: 12rem;
  width: 100%;
  height: auto;
}

/*********************************/
/************* INDEX *************/
/*********************************/

.textContainer {
  width: 50%;
  padding: 7.5rem 0;
}

.photoContainer {
  width: 50%;
  padding: 7.5rem 0;
}

/***** FRONT IMG *****/

.frontImgSection {
  background-color: #000;
  height: 102.4rem;
  overflow: hidden;
}

.frontTextContainer p {
  color: #f5f5dc;
  font-weight: 600;
  font-size: 6rem;
}

.frontButtonContainer button {
  background-color: #f5f5dc;
  box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}

/***** WHO ARE WE *****/

.who-are-we {
  background-color: #f5f5dc;
  padding-block: 4.5rem;
}

.who-are-we .block {
  grid-column: span 4;
}

.who-are-we section {
  align-items: center;
}

.who-are-we section {
  align-items: center;
}

.who-are-we .block.left h2 {
  font-size: 6rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}

.who-are-we .block.left h2 span {
  font-size: 3rem;
  font-weight: 400;
  padding-left: 4.5rem;
}

.who-are-we .block.right img {
  width: 100%;
  height: auto;
}

/***** WHY VOLUNTEER *****/

.why-volunteer {
  background-color: #ffd69e;
  padding-block: 4.5rem;
}

.why-volunteer .block {
  grid-column: span 4;
  order: 2;
}

.why-volunteer section {
  align-items: center;
}

.why-volunteer .block.left h2 {
  font-size: 6rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}

.why-volunteer .block.left h2 span {
  font-size: 3rem;
  font-weight: 400;
  padding-left: 4.5rem;
}

@media screen and (min-width: 768px) {
  .why-volunteer .block.left {
    grid-column: 5/9;
    order: 2;
    margin-left: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .why-volunteer .block.right {
    grid-column: 1/5;
    order: 1;
  }
}

.why-volunteer .block.right img {
  width: 100%;
  height: auto;
}
