/*********************************/
/*********** ARTICLES ***********/
/*******************************/

.article__photo {
  width: 100%;
  max-height: 50rem;
  overflow: hidden;
  filter: brightness(65%);
}

.article__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  padding-bottom: 9.5rem;

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(8, 1fr);
  }
}

.article__title {
  grid-column: 1/-1;
  font-weight: 600;
  font-size: 2.5rem;
  justify-self: center;
  margin: 2.4rem;
  text-transform: uppercase;
  text-align: center;

  @media screen and (min-width: 768px) {
    font-size: 4rem;
    margin: 4rem;
  }
}

.article__left {
  grid-column: 1/-1;

  @media screen and (min-width: 768px) {
    grid-column: 1/5;
  }

  .article__text {
    margin-bottom: 2rem;
    &:first-child {
      margin-top: 1rem;
      @media screen and (min-width: 768px) {
        margin-top: 0;
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.article__right {
  grid-column: 1/-1;

  @media screen and (min-width: 768px) {
    grid-column: 5/9;
  }

  .article__text {
    margin-bottom: 2rem;
    &:first-child {
      margin-top: 1rem;

      @media screen and (min-width: 768px) {
        margin-top: 0;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .article__list {
    margin-bottom: 2rem;
  }
}

.article__donate-buttons {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 2.4rem;
  margin-top: 4rem;

  @media screen and (min-width: 768px) {
    grid-column: 6/9;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-top: 0rem;
  }

  button {
    color: black;
    border-color: black;
    background-color: transparent;
  }
}

.article__right .article__list,
.article__left .article__list {
  list-style: disc;
  padding-left: 2rem;
}

.article__right .article__list .article__item::marker,
.article__left .article__list .article__item::marker {
  font-size: 1.8rem;
}
