/*********************************/
/*********** CONTACT ************/
/*******************************/

@import "../components/button";
@import "../components/input";

.map__container {
  grid-column: 1/-1;
  padding: 1.2rem 1.6rem;
}

.map__frame {
  width: 100%;
  margin-top: 4rem;
}
