/*********************************/
/******** CONTACT BUTTON ********/
/*******************************/

.contact__form-button {
  color: black;
  border-color: black;
  background-color: transparent;
  border-radius: 4rem;
  padding: 1rem 3.7rem;
  text-transform: uppercase;

  &:hover {
    color: white;
    background-color: black;
  }
}
